div {
  margin: 10px;
}
.expression {
  display:block;
  text-align:left;
  width: 100%;
  font-size: 20px;
  border:none;
  outline: none;
}
.output {
  display:block;
  text-align:right;
  font-size: 20px;
}
