<table>
  <tr>
    <td><button (click)="onInput('7')" mat-button mat-raised-button aria-label="Numpad button 7">7</button></td>
    <td><button (click)="onInput('8')" mat-button mat-raised-button aria-label="Numpad button 8">8</button></td>
    <td><button (click)="onInput('9')" mat-button mat-raised-button aria-label="Numpad button 9">9</button></td>
    <td><button (click)="onInput('+')" mat-button mat-raised-button aria-label="Numpad button +">+</button></td>
  </tr>
  <tr>
    <td><button (click)="onInput('4')" mat-button mat-raised-button aria-label="Numpad button 4">4</button></td>
    <td><button (click)="onInput('5')" mat-button mat-raised-button aria-label="Numpad button 5">5</button></td>
    <td><button (click)="onInput('6')" mat-button mat-raised-button aria-label="Numpad button 6">6</button></td>
    <td><button (click)="onInput('-')" mat-button mat-raised-button aria-label="Numpad button -">-</button></td>
  </tr>
  <tr>
    <td><button (click)="onInput('1')" mat-button mat-raised-button aria-label="Numpad button 1">1</button></td>
    <td><button (click)="onInput('2')" mat-button mat-raised-button aria-label="Numpad button 2">2</button></td>
    <td><button (click)="onInput('3')" mat-button mat-raised-button aria-label="Numpad button 3">3</button></td>
    <td><button (click)="onInput('*')" mat-button mat-raised-button aria-label="Numpad button *">*</button></td>
  </tr>
  <tr>
    <td><button (click)="onBackspace()" mat-button mat-raised-button aria-label="Backspace"><mat-icon>backspace</mat-icon></button></td>
    <td><button (click)="onInput('0')" mat-button mat-raised-button aria-label="Numpad button 0">0</button></td>
    <td><button (click)="onInput(',')" mat-button mat-raised-button aria-label="Numpad button ,">,</button></td>
    <td><button (click)="onInput('/')" mat-button mat-raised-button aria-label="Numpad button /">/</button></td>
  </tr>
</table>
