<table>
  <tr>
    <td><button (click)="onInput('7')" mat-button mat-raised-button>7</button></td>
    <td><button (click)="onInput('8')" mat-button mat-raised-button>8</button></td>
    <td><button (click)="onInput('9')" mat-button mat-raised-button>9</button></td>
    <td><button (click)="onInput('+')" mat-button mat-raised-button>+</button></td>
  </tr>
  <tr>
    <td><button (click)="onInput('4')" mat-button mat-raised-button>4</button></td>
    <td><button (click)="onInput('5')" mat-button mat-raised-button>5</button></td>
    <td><button (click)="onInput('6')" mat-button mat-raised-button>6</button></td>
    <td><button (click)="onInput('-')" mat-button mat-raised-button>-</button></td>
  </tr>
  <tr>
    <td><button (click)="onInput('1')" mat-button mat-raised-button>1</button></td>
    <td><button (click)="onInput('2')" mat-button mat-raised-button>2</button></td>
    <td><button (click)="onInput('3')" mat-button mat-raised-button>3</button></td>
    <td><button (click)="onInput('*')" mat-button mat-raised-button>*</button></td>
  </tr>
  <tr>
    <td><button (click)="onBackspace()" mat-button mat-raised-button><mat-icon>backspace</mat-icon></button></td>
    <td><button (click)="onInput('0')" mat-button mat-raised-button>0</button></td>
    <td><button (click)="onInput(',')" mat-button mat-raised-button>,</button></td>
    <td><button (click)="onInput('/')" mat-button mat-raised-button>/</button></td>
  </tr>
</table>
